# VS working files/folders
bin/
dist/
.distraw/
obj/
tmp/
.vs
src/.vs
*.pext

# Personal working files/folders
scripts/
notes/

# NotifMe
src/01_NotifMe/assets/client.yml
src/01_NotifMe/ext/ntfy.exe

# Setup
# N/A

# Bundle setup
bundle/runtimes/*.exe